.container{
  display: flex;
  flex-direction: row;  
  margin-top: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.imageContainer{
  border-radius: 20px;
  /* background-image: url('../../../../public/img/units/silosarriba.JPG'); */
  background-position: center;
	background-attachment: contain;
	background-size: cover;
  width: 100%;
  height: 50vh;
  box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.22);
}


.unitTitle{
  color: dimgray;
  text-transform: capitalize;
}

.textContainer{  
  border-radius: 20px;
  width: 100%;
  text-align: center;
  padding: 2rem;
  
}

.textInfo{
  margin-top: 20px;
  text-align: left;
 
}


@media only screen and (min-width: 768px) {
  .textContainer, .imageContainer{
    width: 100%; 
    margin: 0 auto;
  }

 
  
}