.container{
  display: flex;
  flex-direction: row;
  min-height: 35vh;
  margin-top: 10rem;

}

.imageContainer{
  border-radius: 20px;
  background-image: url('../../../../public/img/units/silosarriba.JPG');
  background-position: center;
	background-attachment: contain;
	background-size: cover;
  width: 50%;
  height: 50vh;
}

.textContainer{
  border-radius: 20px;
  width: 50%;
  height: 50vh;
  text-align: center;
  padding: 1rem;
}

.textContainer p{
  margin-top: 10px;
}