.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #5b5b5b;
}

.infoContainer{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
    height: 5rem;
    padding-left: 2rem;
    width: 100%;
}

.infoContainerRight{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;  
    height: 5rem;
    padding-left: 2rem;
    width: 100%;
}
.contact{
    display: flex;
    flex: row;
    align-items: center;
    text-decoration: underline;
}

.homeIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    color: rgb(56, 55, 55);
    padding-right: 2rem;   
    
} 

.iconLink {    
    position: fixed; /* También puedes usar 'absolute' si lo prefieres */
    bottom: 100px;   /* Ajusta la distancia desde la parte inferior según tus preferencias */
    right: 20px;    /* Ajusta la distancia desde la derecha según tus preferencias */
    z-index: 999;   /* Asegura que el enlace esté por encima de otros elementos */
}

.icon{
   
    color: #fafafa;
    width: 20px;
    height: 20px;  
 
} 

@media only screen and (min-width: 768px) {
    .container{        
        flex-direction: row;        
    }
    .infoContainer{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fafafa;
        height: 5rem;
        padding-left: 2rem;
        width: 50%;
    }
    
    .infoContainerRight{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fafafa;
        align-items: flex-end;
        height: 5rem;
        padding-right: 2rem;
        width: 50%;
    }
    
  
  }