.card {
    
    width: 100%;
    padding: 1.2rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb),0.6);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);      */
    display: grid;
    grid-template-rows: auto 50px auto  auto auto;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.22);
  }

  .card:hover{
    box-shadow: 0 30px 3px -2px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.22);
  }

  
  .card .text {
    /* display: inline-block; */
    transition: transform 200ms;
    opacity: 0.6;
    margin-bottom: 10px;
    grid-row: 2/3;
  }

  .card img{  
    grid-row: 3/5;
      /* width: 100px;
      height: 100px;  */
      /* border-radius: var(--border-radius); */
          
  }
  
  .card h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  
  .button{
    border-radius:5px ;
    width: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border: none;
    background-color: rgba(var(--card-rgb),0.6);
  }
  
  .button :hover{    
    cursor: pointer;
  }

  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    .card:hover {
      background: rgba(var(--card-rgb), 0.4);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
      box-shadow: 0 20px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.22);
    }
  
    .card:hover p {
      transform: translateX(4px);
    }
  }
  
  @media (prefers-reduced-motion) {
    .card:hover p {
      transform: none;
    }
  }